<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<link href="{$basePath}/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="{$basePath}/bower_components/tether/dist/css/tether.min.css" rel="stylesheet" type="text/css">
	<link href="{$basePath}/bower_components/Font-Awesome/svg-with-js/css/fa-svg-with-js.css" rel="stylesheet" type="text/css">
	<link href="{$basePath}/css/style.css" rel="stylesheet" type="text/css">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
</head>

<body>
	<div class="wrapper">
		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
		<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="#"><h1 class="main-headline" n:block=title><i class="fas fa-users"></i> SocialNetwork!</h1></a>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="text" placeholder="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</nav>
	</div>
    <div class="container">
        <div class="row py-4">
            <div class="col-4">
                <div class="card mb-2">
                    <div class="card-header">
                        Featured
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-block">
                        This is some text within a card block.
                    </div>
                </div>
                <div class="card mb-2">
                    <div class="card-block">
                        This is some text within a card block.
                    </div>
                </div>
            </div>
            <div class="col-8">
	            {include content}
            </div>
        </div>
    </div>

	{block scripts}
		<script type="text/javascript" src="{$basePath}/bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="{$basePath}/bower_components/tether/dist/js/tether.min.js"></script>
		<script type="text/javascript" src="{$basePath}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{$basePath}/bower_components/Font-Awesome/svg-with-js/js/fontawesome-all.min.js"></script>
		<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	{/block}
</body>
</html>
