{* This is the welcome page, you can delete it *}
{layout ../@register.latte}
{block content}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Registrace
            </div>
            <div class="card-block">
                {control signUpForm}
            </div>
        </div>
    </div>
</div>